* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
}

.header {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.footer {
  background-color: #000000;
  padding: 40px;
  text-align: center;
  color: white;
}


.footernav {
  overflow: hidden;
  background-color: #000000;
  text-align: left;
}


.footernav a {
  float: center;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.footernav a:hover {
  background-color: #ddd;
  color: black;
}


.content {
  background-color: #000000;
  padding: 40px;
  color: white;
}

.mapcontent {
  position: relative;
  left: 0px;
  top: 0px;
  background-color: #000000;
  color: white;
}


.responsive {
  width: 100%;
  max-width: 320px;
  height: auto;
}

.map {
  width: 100%;
  height: auto;
}

.mapicon {
  position: absolute;
  width: 6%;
  height: auto;
  transform: translate(-50%, -50%);
}

.mappin {
  position: absolute;
  width: 5%;
  height: auto;
  transform: translate(-50%, -100%);
}

.clueimg {
  width: 100%;
  height: auto;
}

.rowimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    width: 50%;
}
