<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ location }}</title>
  {{ commonhead|safe }}
  </head>
  <body>
    {{ header|safe }}
    
    <div class="content">
      <h2>Correct: {{ answer }}</h2>
      <p>{{ response }}</p>
    </div>
    
    {{ footer|safe }}
  </body>
</html>

