<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cookie Policy</title>
    {{ commonhead|safe }}
  </head>
    {{ header|safe }}
    
    <div class="content">
      <p>Do you accept our <a href="/policy">cookie policy</a>?</p>
      <form method="post">
	<input type="submit" name="likecookies" value="Yes">
	<input type="submit" name="nocookies" value="No">
      </form>
    </div>
    {{ footer|safe }}
  </body>
</html>
