<div class="footer">
  <hr>
  <a href="http://www.ascensionsouthampton.co.uk"><img src="/media/AscensionLogo.png" alt="Ascension Southampton logo" class="responsive"></a>
</div>
<div class="footernav">
  <a href="/instructions">Instructions</a>
  <a href="/map">Map</a>
  <a href="https://www.ascensionsouthampton.co.uk/what-we-do/youth/">Ascension Southampton Youth</a>
  <a href="/policy">Cookie Policy</a>
</div>
