<div class="header">
  <h1><img src="/media/Among Us Easter Trail banner for website.png" alt="Among Us Easter QR Code Trail" class="responsive">
  <p>
  has stood one whom you did not know...
  </h1>
</div>
