<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Map</title>
    {{ commonhead|safe }}
  </head>
  <body>
    {{ header|safe }}
    <div class="content">
      <center>This adventure isn't live yet, come back after the 26th of March.</center>
    </div>    
    {{ footer|safe }}
  </body>
</html>

