<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Instructions</title>
    {{ commonhead|safe }}
  </head>
  <body>
    {{ header|safe }}
    <div class="content">
      <h2>Welcome to the Ascension Among Us Trail.</h2>
      <p>Your aim is to collect all 8 points as shown on the <a href="/map">map</a> by visiting them in real life.
      <p>At each location you'll find an among us character with a QR code which you should scan with your phone to find a clue to the question at that location, and a way to put in your answer.
      <p>Answer the question correctly on your phone and the map will change to show a star at that location.
      <p>Unanswered locations that you've visited will be displayed with a key on the map, which you can tap to have a go at answering
      <p>When you have completed at least 3 of the tasks, prizes – an easter bag of chocolate goodies can be collected on April 6th between 11am and 1pm from Scooch – Ascension Southampton, Thorold rd.
      <p>Please contact <a href="mailto:jo@ascensionsouthampton.co.uk">Jo</a> if you need any assistance.
    </div>
    {{ footer|safe }}
  </body>
</html>

