<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Map</title>
    {{ commonhead|safe }}
  </head>
  <body>
    {{ header|safe }}
    <div class="mapcontent">
      <img src="/media/map.jpg" class="map">
      {{ mapoverlay|safe }}
    </div>
    {{ footer|safe }}
  </body>
</html>

