<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ location }}</title>
  {{ commonhead|safe }}
  </head>
  <body>
    {{ header|safe }}<p>
      <h2>{{ location }}</h2></div>
    
    <div class="content">
      {{ wrongAnswer|safe }}
      <p>{{ question|safe }}</p>
      <form method="post">
        <img src="/media/row.jpg" class="rowimg">
	<label for="answer">Answer:</label>
	<input type="text" id="answer" name="answer">
	<br>
	<input type="submit" value="Submit">
      </form>
    </div>
    
    {{ footer|safe }}
  </body>
</html>

