<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ location }}</title>
  {{ commonhead|safe }}
  </head>
  <body>
    {{ header|safe }}<p>
      <h2>{{ location }}</h2></div>
    
    <div class="content">
      {{ details|safe }}
    </div>
    
    {{ footer|safe }}
  </body>
</html>

