<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unfound</title>
    {{ commonhead|safe }}
  </head>
  <body>
    {{ header|safe }}
    
    <div class="content">
      <p>You haven't found this location yet. Please visit it in the real world to uncover it on the map.</p>
    </div>
    {{ footer|safe }}
  </body>
</html>

